<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QuickShort URL Management</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-5">QuickShort URL Management</h1>

<!-- Formulario para acortar URL -->


<form th:action="@{/shorten}" th:object="${urlCommand}" method="post" class="mt-3">
    <div class="form-group">
    <input type="text" name="originalUrl" th:field="*{url}" class="form-control" placeholder="Enter URL to shorten" required>
    </div>
    <button type="submit" class="btn btn-primary">Shorten</button>
</form>


<!-- Tabla para mostrar las URLs -->

<table class="table mt-5">
    <thead class="thead-dark">
    <tr>
        <th>Original URL</th>
        <th>Short URL</th>
        <th>Visits</th>
        <th>Creation Date</th>
        <th>Last Visited Date</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <!-- Iteración sobre las URLs -->

    <tr th:each="url : ${urls}" style="padding: 5px;">
        <td style="padding: 5px;" th:text="${url.originalUrl}"></td>
        <td style="padding: 5px;"><a th:target="_blank" th:href="@{'/url/' + ${url.shortUrl}}" th:text="${url.shortUrl}"></a></td>
        <td style="padding: 5px;" th:text="${url.visits}"></td>
        <td style="padding: 5px;" th:text="${url.createdDate}"></td>
        <td style="padding: 5px;" th:text="${url.lastVisitedDate}"></td>
        <td style="padding: 5px;">
            <!-- Formulario para eliminar URL -->
           <form th:action="@{'/delete/' + ${url.shortUrl}}" method="get">
               <input type="hidden" name="_method" value="delete">
               <button type="submit" class="btn btn-danger">Delete</button>
           </form>
        </td>
    </tr>
    </tbody>
</table>

    <!-- Botón de Refresh -->
    <div class="mt-3">
        <button type="button" class="btn btn-secondary" onclick="window.location.reload();">Refresh</button>
    </div>
<!-- Paginación -->

    <div class="mt-5">
        <ul class="pagination">
        <li th:if="${currentPage > 0}">
            <form th:action="@{/urls}" method="get" class="page-item">
                <input type="hidden" name="page" th:value="${currentPage - 1}">
                <button type="submit" class="page-link">Previous</button>
            </form>
        </li>
            <li class="page-item">
            <span  class="page-link" th:text="${currentPage + 1}"></span>
        </li>
        <li th:if="${currentPage < totalPages - 1}" class="page-item">
           <!-- lionk pagination -->
            <form th:action="@{/urls}" method="get">
                <input type="hidden" name="page" th:value="${currentPage + 1}">
                <button type="submit" class="page-link">Next</button>
            </form>
        </li>
    </ul>
</div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
